p { 
    font-family: serif; 
    line-height: 1.75em; 
} 
 
i { 
    font-family: sans; 
    color: orange; 
} 
 
h2 { 
    font-family: sans; 
    color: red;
} 
p {
    color: blue;
}
.pink {
    color: aqua;
    background: blue;
    padding: 5px;
}
#header {
    background: teal;
    color: aliceblue;
    height: 100px;
    padding: 50px;
}
input[type=text] { 
    background: none; 
    color: cyan; 
    padding: 10px; 
    border: 1px solid cyan; 
}
